{% extends "home_youtube.html" %}
{% block about %}
<div>
    <h4 id='about' style='color: #ececec'>About YouTube Music Recommender</h4>
    <p style='color: #9e9e9e'>
        This is a music recommendation system that uses YouTube as a data source.
        It analyzes audio features from YouTube videos to generate personalized recommendations.
    </p>
    <p style='color: #9e9e9e'>
        Project by <a href="https://www.linkedin.com/in/julsoles/">Julio Soldevilla</a>
    </p>
    <h5 style='color: #ececec'>How it works:</h5>
    <ul style='color: #9e9e9e'>
        <li>Extracts audio features from YouTube music videos</li>
        <li>Uses machine learning to find similar songs</li>
        <li>Supports diversity control to get varied recommendations</li>
        <li>Limits recommendations per artist to avoid repetition</li>
    </ul>
</div>
{% endblock %}
